<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Amazon scraper</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <% if (header) { %> <%- header %> <% } %>
    <div class="main">
      <h1>Amazon scrape</h1>
      <form id="dataForm">
        <input
          type="text"
          id="key"
          class="searchInput"
          placeholder="Insert a key"
        />
        <button type="submit" id="searchButton">Search</button>
      </form>

      <div id="logContainer">
        <b>Output:</b>
        <br /><br />
      </div>

      <script>
        const serverUrl = "<%= serverUrl %>";
        const logContainer = document.getElementById("logContainer");
        const socket = new WebSocket(`ws://${serverUrl}:8004`);

        socket.onmessage = function (event) {
          const logMessage = document.createElement("div");
          logMessage.innerHTML = event.data;
          logContainer.appendChild(logMessage);
        };

        var searchButton = document.getElementById("searchButton");

        searchButton.addEventListener("click", function (event) {
          event.preventDefault();
          startDesktopSearch();
        });

        function startDesktopSearch() {
          const inputValue = document.getElementById("key").value;
          searchButton.disabled = true;
          searchButton.disabled = true;
          searchButton.style.background = "gray";

          // Dopo 20 secondi, riattiva il pulsante e imposta lo sfondo blu
          setTimeout(function () {
            searchButton.disabled = false;
            searchButton.style.background = "#027bff";
          }, 20000);

          if (inputValue === "") {
            alert("Fill key input");
          } else {
            fetch("/amazon-desktop-search", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ key: inputValue }),
            })
              .then((response) => response.text())
              .then((message) => {
                const logMessage = document.createElement("div");
                logMessage.innerHTML = message;
                logContainer.appendChild(logMessage);
              })
              .catch((err) => console.error(err));
          }
        }

        function stopConnection() {
          fetch("/amazon-search-stop", {
            method: "POST",
          })
            .then((response) => response.text())
            .then((data) => {
              console.log("Server response:", data);
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        }
      </script>
    </div>
    <% if (footer) { %> <%- footer %> <% } %>
  </body>
</html>
