<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Davide Balice - Node web scraper</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <% if (header) { %> <%- header %> <% } %>
    <div class="main">
      <p>
        <h3>Web scraper</h3>
        <br />
        Web scaper developed in Node and Puppeteer library
        <br />
        Only for study purpose, data will not be saved.
      </p>
      <br /><br /><br />
      <a href="/bing"> Bing </a>
      <br /><br />
      <a href="/google"> Google </a>
      <br /><br />
      <a href="/bookingcom"> Booking.com </a>
      <br /><br />
      <a href="/amazon"> Amazon </a>
    </div>
  </body>
</html>
