<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Davide Balice - Node web scraper</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <% if (header) { %> <%- header %> <% } %>
    <div class="main">
      <div class="description">
        <img src="./assets/img/node.png" class="nodeLogo" />
        <h2>Node web scraper</h2>
        Web scaper developed in Node and Puppeteer library.
        <br />
        Only for study purpose, data will not be saved.
        <br />
        There are 4 examples of important web sites.
        <br />
        View result directly on page with web socket.
      </div>

      <div class="sitesContainer">
        <a href="/google"><img src="./assets/img/google.png" /></a>
        <a href="/bing"><img src="./assets/img/bing.png" /></a>
        <a href="/bookingcom"><img src="./assets/img/bookingcom.png" /></a>
        <a href="/amazon"><img src="./assets/img/amazon.png" /></a>
      </div>
    </div>

    <% if (footer) { %> <%- footer %> <% } %>
  </body>
</html>
