body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#logContainer {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  min-height: 300px;
  border-radius: 5px;
  line-height: 24px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.header {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #ddd;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: space-between;
}

.footer {
  width: 100%;
  height: 36px;
  background: #555;
  align-items: center;
  display: flex;
  text-align: center;
  align-items: center;
}

.footer a {
  color: #fff;
  margin: 0 auto;
  text-decoration: none;
}

.main {
  padding: 30px;
  min-height: calc(100vh - 223px);
}

.menu {
  width: 100%;
  height: 36px;
  display: flex;
  background: #555;
  align-items: center;
  justify-content: center;
  gap: 34px;
  box-shadow: 0px 3px 5px 0px rgb(0, 0, 0, 0.31);
}

.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.menu a:hover {
  color: #ddd;
  font-size: 14px;
  text-decoration: none;
}

.logo {
  width: 140px;
  margin-left: 10px;
}

.github {
  width: 160px;
  margin-right: 10px;
}

.description {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  text-align: center;
  line-height: 28px;
}

.nodeLogo {
  width: 200px;
}

.sitesContainer {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #ddd;
  width: 700px;
  justify-content: center;
  align-items: center;
  background: #fff;
  flex-wrap: wrap;
}
.sitesContainer a {
  width: 50%;
  text-align: center;
}

.paragraph {
  line-height: 28px;
}

@media (max-width: 700px) {
  .description {
    width: 96%;
  }
  .sitesContainer {
    width: 96%;
  }
}

.searchInput {
  width: 200px;
  padding: 8px;
}

.resultA {
  color: #333;
  text-decoration: none;
}

.resultRow {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 4px;
}

.resultRowScroll {
  color: green;
  padding: 12px;
  font-weight: bold;
  padding-left: 0;
}

.resultRowStop {
  color: red;
  padding: 12px;
  font-weight: bold;
  padding-left: 0;
}

.hotelImg {
  width: 150px;
  border-radius: 6px;
}

.resultHotelRow {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 4px;
  display: flex;
  gap: 10px;
}

.resultHotelText {
  padding: 10px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
